.page {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--color-page);
}
.header {
    display: flex;
    align-items: center;
    padding: 28px 155px;
    background-color: var(--color-bg);
    transition: padding 0.5s ease-in;
    
    + * {
        margin-top: 80px;
    }
    @media screen and (max-width: 1200px){
        padding: 28px 28px;
    }
    @media screen and (max-width: 910px){
        padding: 0;
    }
}
.main {
    + * {
        margin-top: 40px;
    }
}
.footer {
    display: flex;
    align-items: center;
    padding: 92px 162px;
    background-color: var(--color-footer);
    @media screen and (max-width: 1200px){
        padding: 28px 28px;
    }
    @media screen and (max-width: 910px){
        padding: 0;
    }
}

.svg_fill {
    fill: var(--color-text);
}
#change__theme {
    circle {
        fill: var(--color-bg-change-theme);
    }
    path {
        fill: var(--color-btn-change-theme);
    }
}
.svg_dark {
    fill: var(--color-text-dark);
}