body {
    background: #E5E5E5;

}
header {
    background: #efefef;
}
.header-container a {
    color: #000;
}
.header-container a:hover {
    color: #6c6c6c;
}
.theme-button {
    background-image: url('../img/header/change-theme-light.png');
}

.logo {
    background-image: url("../img/header/logo.png");
}
.email-logo {
    background-image: url("../img/icons/email-logo.png");
}
.github-logo {
    background-image: url("../img/icons/github-logo.png");
}
.vk-logo {
    background-image: url("../img/icons/vk-logo.png");
}
.email-logo__reverse {
    background-image: url("../img/icons/email-logo-dark.png");
}
.github-logo__reverse {
    background-image: url("../img/icons/github-logo-dark.png");
}
.vk-logo__reverse {
    background-image: url("../img/icons/vk-logo-dark.png");
}
.container {
    background: #efefef;
}
footer {
    background: #1D1D1E;
}
.footer-content p {
    color: #efefef;
}

.toggles button {
    background: #efefef;
}
.toggles button:hover {
    color: #6c6c6c;
}
.post-button2 li {
    border: 2px solid black;
}
.post-button2 a {
    color: black;
}
.contact-img {
    background-image: url("../img/contact/contact-logo.png");
}
.input-text input {
    border: 1px solid black;
}
.input-text textarea {
    border: 1px solid black;
}
.input-button input{
    border: 1px solid black;
}
footer {
    background: #1D1D1E;
}


@media screen and ( max-width: 600px) {
    .contact-img {
        background-image: none;
    }
}